//
//  ConfigDebug.xcconfig
//  ScReactNativeBranchExample
//
//  Created by Piquant Earthqake on 04.08.21.
//

// Configuration settings file format documentation can be found at:
// https://help.apple.com/xcode/#/dev745c5c974

#include "Pods/Target Support Files/Pods-ScReactNativeBranchExample/Pods-ScReactNativeBranchExample.debug.xcconfig"
#include "Config.xcconfig"
